## Analisis Profesionales TI

Carga de dataset y los primeros pasos en los datos

In [29]:
import pandas as pd

In [40]:
#cargas datos
df = pd.read_csv('Base/profesionales_ti_latam.csv')

Primeros pasos con los datos , identificar campos importantes, registros null, duplicados etc.
Actividades principales para limpiar la información.

In [41]:
df.head(10)

,id,pais,genero,edad,nivel_estudios,experiencia_anios,lenguaje_principal,horas_trabajo_semana,modo_trabajo,satisfaccion_laboral,uso_ai_en_trabajo,certificaciones,nivel_ingles,region,sueldo_mensual_usd
0,1,Chile,Otro,37,Universitario,28,JavaScript,52,Presencial,3.0,Sí,8,Bajo,Norte,5221
1,2,México,Femenino,40,Universitario,8,Python,47,Híbrido,10.0,No,8,Bajo,Sur,1771
2,3,Argentina,Masculino,23,Postgrado,11,C++,30,Presencial,4.0,Sí,3,Alto,Patagonia,2977
3,4,Perú,Femenino,31,Técnico,4,JavaScript,35,Remoto,8.0,No,7,Alto,Costa,1257
4,5,México,Masculino,40,Postgrado,32,Python,36,Remoto,6.0,Sí,8,Alto,Sur,4755
5,6,Chile,Masculino,59,NaN,33,SQL,47,Presencial,3.0,Sí,0,Medio,Norte,3981
6,7,Colombia,Masculino,57,Postgrado,1,SQL,47,Presencial,4.0,Sí,7,Medio,Pacífico,1356
7,8,Chile,Masculino,45,Técnico,30,C#,48,Remoto,2.0,No,4,Bajo,Norte,5588
8,9,Perú,Femenino,51,Universitario,9,Python,41,Híbrido,2.0,Sí,3,Medio,Selva,2423
9,10,Perú,Femenino,22,Postgrado,18,C++,38,Híbrido,3.0,Sí,6,Bajo,Costa,3122

### Analisis exploratorio

In [42]:
#Información general 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    500 non-null    int64
 1   pais                  500 non-null    object
 2   genero                500 non-null    object
 3   edad                  500 non-null    int64
 4   nivel_estudios        485 non-null    object
 5   experiencia_anios     500 non-null    int64
 6   lenguaje_principal    500 non-null    object
 7   horas_trabajo_semana  500 non-null    int64
 8   modo_trabajo          500 non-null    object
 9   satisfaccion_laboral  485 non-null    float64
 10  uso_ai_en_trabajo     500 non-null    object
 11  certificaciones       500 non-null    int64
 12  nivel_ingles          500 non-null    object
 13  region                500 non-null    object
 14  sueldo_mensual_usd    500 non-null    int64
dtypes: float64(1), int64(6), object(8)
memory usage: 58.7+ KB

In [33]:
# Estadisticas descriptivas
df.describe()

,id,edad,experiencia_anios,horas_trabajo_semana,satisfaccion_laboral,certificaciones,sueldo_mensual_usd
count,500.000000,500.000000,500.000000,500.000000,485.000000,500.000000,500.000000
mean,250.500000,40.238000,17.524000,42.424000,5.400000,3.932000,3284.586000
std,144.481833,11.871952,10.279726,7.429847,2.882836,2.579279,1301.994849
min,1.000000,20.000000,0.000000,30.000000,1.000000,0.000000,847.000000
25%,125.750000,30.000000,9.000000,36.000000,3.000000,2.000000,2189.750000
50%,250.500000,41.000000,17.000000,42.000000,5.000000,4.000000,3206.500000
75%,375.250000,50.000000,27.000000,49.000000,8.000000,6.000000,4325.000000
max,500.000000,60.000000,35.000000,55.000000,10.000000,8.000000,6855.000000

### Trabajos con valores nulos

In [43]:
#Validar si existe valores nulos
df.isnull().sum()

id                       0
pais                     0
genero                   0
edad                     0
nivel_estudios          15
experiencia_anios        0
lenguaje_principal       0
horas_trabajo_semana     0
modo_trabajo             0
satisfaccion_laboral    15
uso_ai_en_trabajo        0
certificaciones          0
nivel_ingles             0
region                   0
sueldo_mensual_usd       0
dtype: int64

In [44]:
#Identificar registros unicos del campo nivel_estudios
print(df['nivel_estudios'].unique())

['Universitario' 'Postgrado' 'Técnico' nan]

In [45]:
#Evaluar si reemplazamos valores nulos o los eliminados
df[df['nivel_estudios'].isnull()]# seleccionamos las filas con valores nulos en nivel_estudios

,id,pais,genero,edad,nivel_estudios,experiencia_anios,lenguaje_principal,horas_trabajo_semana,modo_trabajo,satisfaccion_laboral,uso_ai_en_trabajo,certificaciones,nivel_ingles,region,sueldo_mensual_usd
5,6,Chile,Masculino,59,NaN,33,SQL,47,Presencial,3.0,Sí,0,Medio,Norte,3981
27,28,Argentina,Masculino,26,NaN,20,Java,33,Híbrido,8.0,Sí,5,Alto,Litoral,3955
70,71,Argentina,Otro,35,NaN,10,SQL,50,Presencial,NaN,Sí,5,Alto,Litoral,2252
123,124,Colombia,Masculino,31,NaN,4,C#,34,Presencial,6.0,No,4,Bajo,Andina,1520
125,126,Colombia,Otro,33,NaN,15,Python,45,Presencial,8.0,Sí,8,Medio,Andina,3257
203,204,Argentina,Femenino,20,NaN,23,C#,31,Presencial,2.0,Sí,3,Bajo,Patagonia,3802
206,207,México,Femenino,24,NaN,18,JavaScript,51,Remoto,1.0,No,8,Bajo,Sur,3232
216,217,Perú,Otro,47,NaN,7,SQL,53,Remoto,1.0,Sí,0,Bajo,Costa,2402
259,260,Chile,Femenino,53,NaN,19,Python,52,Remoto,7.0,Sí,0,Medio,Sur,2806
278,279,Chile,Masculino,54,NaN,20,JavaScript,51,Remoto,8.0,Sí,1,Alto,Sur,3360
313,314,México,Femenino,23,NaN,10,C++,50,Híbrido,2.0,No,5,Bajo,Sur,2670
326,327,Perú,Femenino,28,NaN,15,Python,52,Remoto,4.0,No,8,Bajo,Costa,3187
341,342,Argentina,Femenino,45,NaN,7,SQL,36,Presencial,2.0,Sí,7,Alto,Patagonia,1783
404,405,Colombia,Otro,38,NaN,33,JavaScript,49,Presencial,3.0,Sí,6,Bajo,Andina,5603
496,497,Chile,Otro,60,NaN,34,SQL,52,Remoto,7.0,No,3,Medio,Sur,5132

In [46]:
#Para no perder informacion reemplazaremos los valores nulos por sin información

df['nivel_estudios'] = df['nivel_estudios'].fillna('Sin información')

#Validamos  el cambio
print(df['nivel_estudios'].unique())

['Universitario' 'Postgrado' 'Técnico' 'Sin información']

#### Trabajos nulos con columna satisfacción laboral

In [47]:
#Identificar registros unicos del campo satisfaccion_laboral
print(df['satisfaccion_laboral'].unique())

[ 3. 10.  4.  8.  6.  2.  9.  1. nan  7.  5.]

In [48]:
#Evaluar si reemplazamos valores nulos o los eliminados
df[df['satisfaccion_laboral'].isnull()]# seleccionamos las filas con valores nulos en satisfacción laboral

,id,pais,genero,edad,nivel_estudios,experiencia_anios,lenguaje_principal,horas_trabajo_semana,modo_trabajo,satisfaccion_laboral,uso_ai_en_trabajo,certificaciones,nivel_ingles,region,sueldo_mensual_usd
15,16,México,Masculino,44,Universitario,9,C#,47,Presencial,NaN,Sí,3,Bajo,Centro,1997
47,48,Argentina,Femenino,21,Postgrado,32,SQL,52,Híbrido,NaN,Sí,3,Alto,CABA,4712
70,71,Argentina,Otro,35,Sin información,10,SQL,50,Presencial,NaN,Sí,5,Alto,Litoral,2252
95,96,Colombia,Femenino,59,Universitario,10,Python,33,Híbrido,NaN,No,8,Alto,Pacífico,2691
100,101,Chile,Otro,32,Universitario,16,C++,38,Híbrido,NaN,No,6,Bajo,Centro,2396
111,112,Perú,Femenino,30,Técnico,30,C++,36,Presencial,NaN,No,8,Bajo,Sierra,4417
137,138,Argentina,Otro,53,Postgrado,14,JavaScript,31,Presencial,NaN,Sí,3,Medio,Litoral,2130
170,171,México,Masculino,58,Postgrado,14,JavaScript,51,Híbrido,NaN,No,1,Alto,Sur,3318
201,202,Colombia,Otro,25,Universitario,15,SQL,44,Presencial,NaN,No,1,Alto,Pacífico,2228
272,273,Colombia,Femenino,26,Universitario,21,Java,50,Remoto,NaN,Sí,2,Alto,Pacífico,4729
321,322,Perú,Femenino,37,Universitario,27,JavaScript,54,Remoto,NaN,Sí,8,Medio,Selva,4961
367,368,Perú,Masculino,53,Postgrado,27,JavaScript,30,Presencial,NaN,No,7,Bajo,Selva,3801
442,443,Perú,Otro,39,Universitario,16,SQL,34,Híbrido,NaN,No,7,Alto,Selva,3493
478,479,Chile,Otro,28,Postgrado,26,Python,51,Presencial,NaN,Sí,0,Alto,Centro,4708
487,488,Perú,Otro,34,Técnico,30,Java,50,Presencial,NaN,No,7,Alto,Costa,3550

In [61]:
#Para no perder informacion reemplazaremos los valores nulos por sin información
df['satisfaccion_laboral'] = df['satisfaccion_laboral'].fillna(df['satisfaccion_laboral'].mean())

#Validamos  el cambio
print(df['satisfaccion_laboral'].unique())

[ 3.  10.   4.   8.   6.   2.   9.   1.   5.4  7.   5. ]

### Ver registros duplicados

In [62]:
# Ver si hay duplicados
df.duplicated().any()

False

In [63]:
# Cantidad de duplicados
df.duplicated().sum()

0

In [64]:
# Ver registros  duplicados
df[df.duplicated()]

Empty DataFrame
Columns: [id, pais, genero, edad, nivel_estudios, experiencia_anios, lenguaje_principal, horas_trabajo_semana, modo_trabajo, satisfaccion_laboral, uso_ai_en_trabajo, certificaciones, nivel_ingles, region, sueldo_mensual_usd]
Index: []

### Analisis con el Pais Chile

In [69]:
#Filtrar la data Pais = Chile y la almacenamos en una nueva dataframe

df_chile = df_filtrado = df[df['pais'] == 'Chile']

df_chile.head(15)

,id,pais,genero,edad,nivel_estudios,experiencia_anios,lenguaje_principal,horas_trabajo_semana,modo_trabajo,satisfaccion_laboral,uso_ai_en_trabajo,certificaciones,nivel_ingles,region,sueldo_mensual_usd
0,1,Chile,Otro,37,3.0,28,JavaScript,52,Presencial,3.0,Sí,8,Bajo,Norte,5221
5,6,Chile,Masculino,59,3.0,33,SQL,47,Presencial,3.0,Sí,0,Medio,Norte,3981
7,8,Chile,Masculino,45,2.0,30,C#,48,Remoto,2.0,No,4,Bajo,Norte,5588
10,11,Chile,Masculino,41,9.0,35,C#,46,Híbrido,9.0,No,3,Alto,Sur,5829
17,18,Chile,Femenino,25,1.0,4,C++,37,Híbrido,1.0,No,2,Alto,Centro,1394
24,25,Chile,Masculino,49,1.0,16,SQL,53,Remoto,1.0,Sí,0,Medio,Centro,3172
37,38,Chile,Otro,22,7.0,5,Java,33,Remoto,7.0,No,8,Alto,Norte,1697
38,39,Chile,Masculino,60,2.0,34,JavaScript,41,Remoto,2.0,No,6,Alto,Centro,4725
40,41,Chile,Femenino,48,2.0,5,C++,32,Presencial,2.0,No,2,Medio,Centro,2135
41,42,Chile,Masculino,47,8.0,10,SQL,36,Híbrido,8.0,Sí,3,Medio,Sur,1836
42,43,Chile,Femenino,23,3.0,29,SQL,36,Presencial,3.0,Sí,8,Medio,Sur,5489
43,44,Chile,Femenino,38,9.0,16,Java,45,Híbrido,9.0,No,6,Alto,Centro,3299
51,52,Chile,Femenino,34,10.0,9,SQL,39,Híbrido,10.0,Sí,6,Medio,Norte,1979
56,57,Chile,Otro,23,3.0,30,Python,38,Híbrido,3.0,Sí,5,Medio,Norte,3968
60,61,Chile,Femenino,50,6.0,9,JavaScript,44,Presencial,6.0,No,0,Bajo,Norte,2607

In [72]:
#Calcularemos la media, mediana y desviación estándar de los sueldos.

df_chile['sueldo_mensual_usd'].describe()

count     108.000000
mean     3347.166667
std      1318.547548
min      1035.000000
25%      2219.000000
50%      3329.500000
75%      4385.000000
max      6254.000000
Name: sueldo_mensual_usd, dtype: float64

In [73]:
media_sueldo_chile = df_chile['sueldo_mensual_usd'].mean()
mediana_sueldo_chile = df_chile['sueldo_mensual_usd'].median()
desviacion_sueldo_chile = df_chile['sueldo_mensual_usd'].std()

print(f"Media: {media_sueldo_chile:.2f}")
print(f"Mediana: {mediana_sueldo_chile:.2f}")
print(f"Desviación estándar: {desviacion_sueldo_chile:.2f}")

Media: 3347.17
Mediana: 3329.50
Desviación estándar: 1318.55